.row-fluid	
	.header.span12
		.row-fluid
			:plain
				<?php 
					//echo $this->Html->image($header_image_url, array('width'=>300, 'height'=>300)); 
				?>
.row-fluid
	.body.span12
		.row-fluid
			.span8
				.content_container
					:plain
						<%= title %>
			.span4
				.technology_container
					:plain
						<%= tech %>