.row-fluid
	.span6
		.title-container
			%h2
				<%= title %>
	.span2
		.live-link-container
			:plain
				<a href="<%= live_site_url %>">
					<div id="live_link_button">
						<h4>
							View Live Site
						</h4>
					</div>
				</a>
.row-fluid
	.span10
		.row-fluid
			.span10
				.row-fluid
					.span10
						.image-outer-container
							.image-inner-container
								:plain
									<img id="main_image" src="<%= image_url[0] %>" />
				.row-fluid
					.span10
						.body-container
							<%= body %>						
				.row-fluid
					.span10
						#technology-container
							.row-fluid.languages
								.span2
									Languages: 
								.span8
									%ul.thumbnails
										:plain
											<% if (!(languages['language'] instanceof Array)) { %>
												<li class="thumbnail"><%= languages['language'] %></li>
											<% } else {
												_.each(languages['language'], function(item) { %>
													<li class="thumbnail"><%= item %></li>
												<% }); 
											} %>
							.row-fluid.libraries
								.span2
									Libraries:
								.span8
									%ul.thumbnails
										:plain
											<% if (!(libraries['library'] instanceof Array)) { %>
												<li class="thumbnail"><%= libraries['library'] %></li>
											<% } else {
												_.each(libraries['library'], function(item) { %>
													<li class="thumbnail"><%= item %></li>
												<% }); 
											} %>
							.row-fluid.tools
								.span2
									Tools:
								.span8
									%ul.thumbnails
										:plain
											<% if (!(tools['tool'] instanceof Array)) { %>
												<li class="thumbnail"><%= tools['tools'] %></li>
											<% } else {
											_.each(tools['tool'], function(item) { %>
												<li class="thumbnail"><%= item %></li>
												<% });
											} %>
							.row-fluid.others
								.span2
									Other:
								.span8
									%ul.thumbnails
										:plain
											<% if (!(others['other'] instanceof Array)) { %>
												<li class="thumbnail"><%= others['other'] %></li>
											<% } else {
												_.each(others.other, function(item) { %>
													<li class="thumbnail"><%= item %></li>
												<% }); 
											} %>
							