#about_me_container
	.row-fluid
		.span4
			%img{:src => "./img/ed.png",
			:id => "about_me_image"}
		.span6
			.row-fluid
				%h2
					Hi, I'm Ed
			.row-fluid
				%p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis, mi et sagittis blandit, lorem orci commodo nisl, a feugiat neque justo eget elit. Etiam non elit justo. Nulla rutrum nibh in nibh faucibus porta. Integer ut fringilla nisl, vel consequat odio. Suspendisse enim nunc, tempus id egestas ultricies, porta quis est. Fusce congue, neque a aliquet tempus, metus urna tempus tortor, vitae laoreet magna purus pharetra massa. Curabitur aliquam malesuada risus, ac placerat magna ultricies ut. Integer vel eleifend sem.
					%br
					%br
					Etiam eget iaculis justo. Nulla facilisi. Vestibulum neque erat, dictum et rutrum vel, ullamcorper eu lectus. Nulla malesuada nulla non adipiscing auctor. Etiam tempor pharetra leo vitae bibendum. Duis ac adipiscing sem, et tincidunt leo. Pellentesque non pulvinar leo. Suspendisse rutrum consectetur porta. Praesent convallis non nisl id sagittis.