#about_me_container
	.row-fluid
		.span4
			%img{:src => "./img/ed.png",
			:id => "about_me_image"}
		.span6
			.row-fluid
				%h2
					Hi, I'm Ed
			.row-fluid
				%p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis, mi et sagittis blandit, lorem orci commodo nisl, a feugiat neque justo eget elit. Etiam non elit justo. Nulla rutrum nibh in nibh faucibus porta. Integer ut fringilla nisl, vel consequat odio. Suspendisse enim nunc, tempus id egestas ultricies, porta quis est. Fusce congue, neque a aliquet tempus, metus urna tempus tortor, vitae laoreet magna purus pharetra massa. Curabitur aliquam malesuada risus, ac placerat magna ultricies ut. Integer vel eleifend sem.
					%br
			.row-fluid
				.cv_button_container
					#view_cv_button
						%a
							View my CV 
							%i{:class => "icon-share icon-white"}