$background_color : #E9E9E9 //#bdcdd8 //rgba(82, 136, 172, 0.86) //rgba(82, 136, 172, 0.3) //#666666
$body_copy : 1.6rem
$header_bg : rgba(151, 50, 50, 0.2) //rgba(196, 0, 0, 0.09) //rgba(7, 1, 5, 0.2) //rgba(17, 58, 85, 0.8) //rgba(69, 160, 219, 0.8) //rgba(69, 160, 219, 0.5) //#bdcdd8 //rgba(63, 153, 213, 0.8) //rgba(82, 136, 172, 0.8) //rgba(#cccccc,0.8)
$page_bg : rgba(0, 0, 0, 0.31) //rgba(255, 255, 255, 0.06) //rgba(27, 27, 27, 0.5) //#eeeeee

@mixin box_shadow($top:0.3rem)
	-webkit-box-shadow: inset 0 $top 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.5)
	-moz-box-shadow: inset 0 $top 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.5)
	box-shadow: inset 0 $top 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.5)

@mixin button_styles
	text-align: center
	cursor : pointer
	font-size : $body_copy 
	margin-top : 0rem
	border-radius : 3px
	background-color : rgba(151, 50, 50, 0.3)

	padding-top : 1.2rem
	padding-bottom : 1.2rem
	margin-right : 1rem
	color : ffffff
	text-shadow : 0 1px 1px rgba(0, 0, 0, 0.1)
	font-family : Cardo
	@include box_shadow
	border-width : 0.1rem
	border-style : solid
	border-color : 000000
	&:hover
		//background-color : dddddd
		color : eeeeee


#templates
	display : none

html
	font-size : 62.5%
	overflow-y : scroll
	
body 
	background-color : $background_color
	//background-image : url('/img/baseline5.png')
	background-image : url('/img/black_thread.png')
	//background-image : url('/img/gridme.png')
	background-repeat : repeat
	background-position : center top
	//background-size : 2.5rem $body_copy  
	font-size : $body_copy 
	font-family : verdana
	
	//background: url('/img/black_thread.png') repeat
	//background-position : center top
	//background-size : 100% 100%
	#gradient_container
		background : url('/img/gradient4.png') no-repeat
		background-size : 100% 100%
		min-height : 100%
		padding-top : 2.4rem
		background-position : fixed
		
#app_header
	background-color : $header_bg
	//background-image : url('/img/black_thread.png')
	//padding : 1rem 5rem 1rem 5rem
	//background-image : url('/img/gradient2.png')
	//background-size : 100% 100%
	//border-width: 0px 0px 3px 0px
	border-style: solid
	border-color: 000000
	border-width : 0.1rem 0rem 0.1rem 0rem
	//border-color : 222222
	//border-style : solid
	@include box_shadow(0rem)
	.header_inner_container
		margin-left : auto
		margin-right : auto
		width : 114rem
		.span6.left-frame
			width : 25rem
			.title-frame
				//background-color : bbbbbb
				//padding : 0.5rem 1rem 0rem 0.5rem
				margin-top : 2.4rem
				margin-bottom : 0.8rem
				width : 29rem
				margin-left : 1.2rem
				h2
					margin : 0rem
					font-size : 5.7rem
					line-height : 5.7rem
					font-family: 'Allan', serif
					color : eeeeee
					margin-top : 0.6rem
					//text-shadow : 0 1px 1px rgba(0, 0, 0, 0.3)
					text-shadow: 1px 1px 1px #111
					filter: dropshadow(color=#111, offx=1, offy=1)
		.span12.right-frame
			width : 62.8rem
			margin : 0rem
			//background-color : 888888
			.nav.nav-pills
				margin : 0rem
				//margin-top : 1.6rem
				margin-bottom : 1.6rem
				margin-left : 1.2rem
				li
					width : 15rem
					a
						@include button_styles
	
#app_container
	//background-image : url('/img/gradient3.png')
	//background-size : 100% 100%
	#projects_gallery
		margin-left: auto
		margin-right: auto
		width: 114rem
		margin-top: 0.4rem
		margin-bottom : 3.6rem
		
form
	margin : 0rem
	
h2
	margin : 3.4rem 0rem 0rem 4.8rem
	font-size : 3.4rem
	color : 333333
	line-height : 2.4rem
	display : inline-block
	//background-color : 444444
	padding-right : 1rem
	font-family : Allan
	
#project_container
	//background: url('/img/black_thread.png') repeat
	//background-position : center top
	//background-color : 222222
	//background-repeat : repeat
	width: 81.6rem
	margin : 0rem
	margin-left: 1rem
	border-radius : 0.3rem
	//border-width : 0.1rem
	//border-color : 000000
	//border-style : solid
	//@include box_shadow(0rem)
	//margin-top : 2.6rem
	.row-fluid
		.span6
			margin : 0rem
	//background-image : url('/img/textured_paper.png')
	.title-container
		//padding : 2.5rem 0rem 0rem 2.5rem
		h2
			/// margin : 3.4rem 0rem 0rem 4.8rem
			font-size : 3.6rem
			color : eeeeee
			line-height : 3.6rem
			display : inline-block
			//background-color : 444444
			padding-right : 1rem
			font-family : Allan ///
			text-shadow : 0 1px 1px rgba(0, 0, 0, 0.3)
	.body-container
		margin : 2.4rem 0rem 0.8rem 5rem
		//padding : 1.5rem 0rem 2.5rem 2.5rem
		font-size : $body_copy 
		line-height : 1.5
		width : 71.6rem
		font-family : Cardo
		color : ffffff
	.image-outer-container
		margin : 0rem
		//padding : 1.5rem 2rem 0rem 6rem
		width: 71.6rem
		margin-left: 5.0rem
		margin-top: 2.4rem
		.image-inner-container
			border-radius : 0.2rem
			padding : 0.2rem
			background-color : 222222
			@include box_shadow(0rem)
	.technology-container
		padding : 0rem
		margin : 0rem
		width : 71.6rem
		margin-left: 5.0rem
		margin-top : 1.6rem
		margin-bottom : 3.2rem
		//background-color : dddddd
		font-family : Cardo
		font-size : $body_copy 
		line-height : 1.5
		.row-fluid
			margin-bottom : 0.6rem
			.span2
				width : 7.6rem
				display : inline-block
				padding-top : 1rem
				text-align : right
				font-family : Cardo
				font-size : 1.6rem
				color : eeeeee
				
			.span10
				ul
					margin : 0rem
					li
						margin : 0rem
						background-color : rgba(151, 50, 50, 0.3)
						margin-right : 0.8rem
						margin-top : 0.4rem
						border : none
						box-shadow : none
						padding : 0.8rem 1.6rem 0.8rem 1.6rem
						border-radius : 3px
						color : ffffff
						border-color : 000000
						border-width : 0.1rem
						border-style : solid
						@include box_shadow(0rem)
	.alts-outer-container
		display : none
		margin : 0rem
		width : 71.6rem
		margin-left: 5.0rem
		background-color : rgba(#222222, 0.3)
		margin-top : 1rem
		.alts-inner-container
			.row-fluid
				.span1
					margin : 0rem
				.alt-frame
					//background-color : 333333
					height : 7.4rem
					width : 11.6rem
					overflow : hidden
					background-position : center center
					background-size : 100%
					background-repeat : no-repeat
					background-color : 888888
					margin-right : 0.8rem
					//.secondary-image
						
	.live-link-container
		//margin : 0rem
		//padding : 2.5rem 0rem 0rem 2.5rem
		margin : 3rem 0rem 0rem 5rem
		a
			color : 444444
		#live-link-button
			background-color: rgba(7, 1, 5, 0.2)
			width: 16.4rem
			height: 2.2rem
			border-radius: 0.2rem
			h4	
				text-decoration : none
				//margin-top: -0.4rem
				//margin-left: -0.4rem
				font-weight : normal
				@include button_styles
				margin-right : 0rem
				background-color : rgba(151, 50, 50, 0.4)
				line-height : 1.6rem
	
	//background-color : $page_bg
	z-align : 1000
	.header
		width : 800px
		background-color: #222222
		border-radius : 3px
		border-width : 1px
		border-color : #111111
		border-style : solid
		padding : 3px
		margin-left : 30px
		margin-top : 30px

#contact_container
	border-radius : 0.3rem
	//background-color: rgba(#ffffff, 0.5)
	//opacity: 0.6
	width: 61.6rem
	margin-top : 3.6rem
	margin-left : 10rem
	.title-frame
		margin : 0rem
		h2
			margin : 0rem
			padding : 0rem
			margin-bottom : 1.6rem
			margin-top : 0.6rem
			color : ffffff
	.form-row
		padding-top : 0.6rem
		margin-bottom : 0.8rem
		.span12
			margin : 0rem
		.span12, 
		.span10
			.control-group
				margin-bottom : 1.6rem
				margin : 0rem
				.row-fluid
					.span6.left-frame
						width : 8.5rem
						.control-label
							text-align : right
							font-family : Cardo
							font-size : 1.6rem
							margin-top : 1rem
							color : ffffff
							text-shadow : 0 1px 1px rgba(0, 0, 0, 0.1)
							.label
								margin : 0rem
								cursor : default
								font-size : 1.6rem
								line-height : 1.6rem
								font-family : Cardo
								color : ffffff
					.span6.right-frame
						margin : 0rem
						.controls
							padding: 0.1rem
							background-color: ffffff
							display: inline-block
							border-radius: 0.3rem
							margin-left : 1.2rem
							@include box_shadow(0rem)
							input
								margin : 0rem
								padding: 0.8rem
								width: 33.8rem
								font-family : Cardo
								border : none
								color : 000000
								background-color : ffffff
								&:focus
									#outline : 0rem
									border : none
							textarea
								margin : 0rem
								padding: 0.8rem
								width: 33.8rem
								font-family : Cardo
								line-height : 1.5
								font-size : 1.6rem
								background-color : ffffff
								border : none
								color : 000000
								box-shadow : none
								&:focus
									box-shadow : none
									#outline : 0rem
									border : none

#submit_contact_us_link
	display : none

#thumbnail_column
	width : 14.4rem
	//margin-top : 2.6rem
	margin-left : 1.2rem
	//background-color : #dddddd
	display : block
	//height : 100%
	//width : 18rem
	margin-top : 3.2rem
	#thumbnails_title_frame
		height : 6rem
		//background-color : #eeeeee
		width : 100%
		h3
			font-color : #ffffff
			font-size : 2.4rem
			margin-left : 2rem
	#thumbnail_gallery
		ul
			margin : 0rem
			//margin-top : 1.5rem
			//margin-left : 1.2rem
			margin-bottom : 1.6rem
			margin-top : -0.4rem
			li
				#padding : 20px 30px 20px 30px
				//padding : 0.5em
				cursor : pointer
				font-family : arial
				-webkit-transition : none
				transition : none
				border : none
				margin : 0rem
				//margin-bottom : 1rem
				&:hover
					//background-color : #bbbbbb
			
				.thumbnail-frame
					//width : 100%
					//height : 10rem
					padding : 0.1rem
					background-color : 000000
					@include box_shadow(0rem)
				.clickable-frame
					//width : 100%
					//height : 10rem
					background-color : #eeeeee
					z-align : 1000
					position : relative