%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%link{:rel => 'stylesheet',
			:href => '/css/bootstrap.css',
			:type => 'text/css'}
		%link{:rel => 'stylesheet',
			:href => '/css/styles.css',
			:type => 'text/css'}
		%link{:rel => 'stylesheet',
			:href => 'http://fonts.googleapis.com/css?family=Quattrocento',
			:type => 'text/css'}
		%link{:rel => 'stylesheet',
			:href => 'http://fonts.googleapis.com/css?family=Ubuntu',
			:type => 'text/css'}	
		%link{:rel => 'stylesheet',
			:href => 'http://fonts.googleapis.com/css?family=Rokkitt',
			:type => 'text/css'}	
		%script{:src => '//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js',
			:type => 'text/javascript'}
		%script{:src => '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js',
			:type => 'text/javascript'}		
		%script{:src => './js/underscore.js',
			:type => 'text/javascript'}
		%script{:src => './js/backbone.js',
			:type => 'text/javascript'}
		%script{:src => './js/portfolio.js',
			:type => 'text/javascript'}
		%script{:src => './js/baseline.js',
			:type => 'text/javascript'}
			
	%body
		#background_container.clearfix
			#header_bg_container
				%section{:class=>"content"}
					#app_header.row-fluid
						.span10
							.title-frame
								%h2
									Ed's Portfolio
					#app_nav.row-fluid
						.span10
							%ul.nav.nav-pills
								%li
									%a{:id => "about_me_link"}
										About me
								%li
									%a{:id => "projects_link"}
										Projects
								%li
									%a{:id => "contact_me_link"}
										Contact me
			%section{:class=>"content"}
				#app_container
					:plain
						<?php
							echo $content_for_layout
						?>
			#footer_bg_container
		#templates